.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-dark {
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
